<h1>Editing exercise log</h1>

<%= render "form", exercise_log: @exercise_log %>

<br>

<div>
  <%= link_to "Show this exercise log", @exercise_log %> |
  <%= link_to "Back to exercise logs", exercise_logs_path %>
</div>
