<h1>Editing progression</h1>

<%= render "form", progression: @progression %>

<br>

<div>
  <%= link_to "Show this progression", @progression %> |
  <%= link_to "Back to progressions", progressions_path %>
</div>
