<h1>New progression</h1>

  <div id="programs">
    <% @programs.each do |program| %>
      <%= render program %>
      <p>
        <%=
          # In the future to display a link to learn more about the program
          #link_to "Show this progression", program
        %>
      </p>
      <%= button_to "Start Program", params: {program_id: program.id, user_id: current_user.id}, action: "create", method: :post %>
    <% end %>
  </div>

<br>

<div>
  <%= link_to "Back to progressions", progressions_path %>
</div>
